*{
    margin: 0;
    border:border-box;
    font-family: Arial;
}



.nev-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;

}
.nev-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
   background-size:cover;
}
.border{
    border: 1.5px solid transparent
}
.border:hover{
    border: 2px solid wheat;
    cursor: pointer;
}